{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<section class="bg-gray-100 h-screen p-8">
    <div class="flex justify-between mb-4">
    <h1 class="text-3xl font-bold text-gray-800 gap-6">Clients</h1>
        <a href="{{ path('app_client_new') }}" class="flex justify-center items-center gap-2 bg-blue-600 text-white px-2 py-1 rounded-lg hover:bg-blue-700">
          <i class="fa-solid fa-plus"></i>
          <button type="submit">Ajouter un Client
          </button>
        </a>
    </div>
    <table class="w-full bg-white rounded-lg shadow-md">
        <thead>
            <tr>
                <th class="py-3 px-6 bg-gray-100 text-left text-sm font-semibold text-gray-900">Nom</th>
                <th class="py-3 px-6 bg-gray-100 text-left text-sm font-semibold text-gray-900">Description</th>
                <th class="py-3 px-6 bg-gray-100 text-left text-sm font-semibold text-gray-900">Adresse</th>
                <th class="py-3 px-6 bg-gray-100 text-left text-sm font-semibold text-gray-900">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in client %}
            <tr class="border-t">
                <td class="py-4 px-6">{{ client.name }}</td>
                <td class="py-4 px-6">{{ client.contact }}</td>
                <td class="py-4 px-6">{{ client.address }} </td>
                <td class="py-4 px-6">
                    <div class="flex items-center gap-4">
                        <a href="{{ path('app_client_edit', {id: client.id}) }}" class="text-blue-500 hover:text-blue-700">
                            <i class="fa-solid fa-pen text-lg"></i>
                        </a>
                    <form method="post" action="{{ path('app_client_delete', {'id': client.id}) }}" style="display:inline;" onsubmit="return confirm('Supprimer ce client ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                        <button type="submit"  class="text-red-500 hover:text-red-700 cursor-pointer">
                            <i class="fa-solid fa-trash-can text-lg"></i>
                        </button>
                    </form>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="py-4 px-6 text-center text-gray-500">Aucun client trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</section>
{% endblock %}
