<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class=" h-min-screen bg-white border-r border-gray-200 flex flex-col fixed">
            <div class="px-6 py-5 ">
                <a href="{{ path('app_dashboard') }}" class="flex items-center gap-2 text-blue-600 font-bold text-3xl">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    FactureSaaS
                </a>
            </div>
            
            <nav class="flex-1 px-6 py-4 flex gap-2">
                <a href="{{ path('app_dashboard') }}" class="flex items-center gap-2 px-4 py-2 rounded-lg text-lg font-medium text-gray-600 hover:bg-gray-100">
                    <i class="fa-solid fa-chart-pie"></i>
                    Dashboard
                </a>
            </nav>

            <nav class="flex-1 px-6 py-4 flex gap-2">
                <a href="{{ path('app_invoice') }}" class="flex items-center gap-2 px-4 py-2 rounded-lg text-lg font-medium text-gray-600 hover:bg-gray-100">
                    <i class="fa-solid fa-file-invoice"></i>
                    Factures
                 </a> 
            </nav>
                
            
            <nav class="flex-1 px-6 py-4 flex gap-2">
                {# <a href="{{ path('app_customers') }}" class="flex items-center gap-2 px-4 py-2 rounded-lg text-lg font-medium text-gray-600 hover:bg-gray-100"> #}
                <i class="fa-solid fa-users"></i>
                    Clients
                {# </a> #}
            </nav>

            <nav class="flex-1 px-6 py-4 flex  gap-2">
                {# <a href="{{ path('app_products') }}" class="flex items-center gap-2 px-4 py-2 rounded-lg text-lg font-medium text-gray-600 hover:bg-gray-100"> #}
                    <i class="fa-solid fa-box"></i>
                    Produits
                {# </a> #}
            </nav>
        
            <nav class="flex-1 px-6 py-4 flex gap-2">
                <a href="{{ path('app_profile') }}" class="flex items-center gap-2 px-4 py-2 rounded-lg text-lg font-medium text-gray-600 hover:bg-gray-100">
                <i class="fa-solid fa-gear"></i>                    
               
                Profil
                </a>
            </nav>
        
        </div>



    
    
        {% block body %}{% endblock %}
    </body>
</html>
